<% provide(:title, "Dylan Owen: Live at Cornell") %>
<div class='WelcomeHeader'>
  <% if !@current_user.blank? %>
    <p class='UserHi'>Hi <%= @current_user.fname %> | <span class='TicketsLink'><a href='/my/tickets'>My tickets</a> <span class='MyTicketsCount'><%= @my_ticket_count %></span> <span class='Icon'>&#xE82B;</span></span></p>
  <% end %>
</div>
<div class='EventHero'></div>
<div class='EventHeroContent'>
  <div class='EventInfo'>
    <div class='EventDetails'>
      <div class='EventCardHeader EventArtistHeader'>
        <div class='EventPeople'>
          <h1 class='EventArtistName'><a class='EventArtistLink' id='eventDylanLink' href='/dylanowen'>Dylan Owen</a></h1>
          <br />
          <p class='EventOpeners'>with <a class='EventArtistLink' id='eventToneLink' href='/toneperignon'>Tone P&eacute;rignon</a> and <a class='EventArtistLink' id='eventGoBuckLink' href='https://soundcloud.com/gobuckmusic'>Go Buck!</a></p>
          <div class='EventShareLinks'>
            <div class='EventShare FacebookButton'>
              <div class="fb-share-button" data-href="https://www.tunetap.com" data-type="button_count"></div>
            </div>
            <div class='EventShare TwitterButton'>
              <a href="https://twitter.com/share?url=www.tunetap.com/1&text=Dylan%20Owen:%20Live%20at%20Cornell%20www.tunetap.com/1" class="twitter-share-button" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </script>
            </div>
          </div>
        </div>
        <!-- <p class='EventShareLinks'>
          <span class='EventShareFacebook'>Share on Facebook</span> &bull; 
          <span class='EventShareTwitter'>Tweet it</span> &bull; 
          <span class='EventShareEmail'>Email details</span> &bull; 
          <span class='EventShareLink'>Get short link</span>
        </p> -->
        <div class='EventDate'>
          <p class='EventMonth'>December</p>
          <p class='EventDay'>5<sup>th</sup></p>
          <p class='EventTime'>8:00 PM</p>
          <div class='EventPassed'></div>
          <p class='EventPassedLabel'>Passed</p>
        </div>
      </div>
      <div class='EventDetailsContent'>
        <!-- <div class='EventTimeLeft'>
          <h2 id='timeLeft'>This show is funded!</h2>
        </div> -->
        <div class='EventFundingProgress'>
          <h2>Let's fill the house.</h2>
          <p>Grab your ticket below.</p>
        </div>
      </div>
      <ol class='PreorderPackages'>
        <span class='Hidden' id='isLoggedIn'><%= (@current_user.blank?) ? 0 : 1 %></span>
        <li class='PreorderPackage'>
          <button class='btn btn-lg btn-primary' id='ticket1' data-title="Regular ticket: $<%= (@current_user.blank?) ? '12.00' : '11.00' %> each">
            <h1 class='PackageAmount'>Gen. admission</h1>
            <p class='PackageCost'>$<%= (@current_user.blank?) ? '12.00' : '11.00' %></p>
          </button>
        </li>
        <li class='PreorderPackage'>
          <button class='btn btn-lg btn-primary <%= 'Disabled' if @vip_count >= 9 %>' id='ticketVIP' data-title="VIP Ticket: $<%= (@current_user.blank?) ? '30.00' : '27.00' %> each">
            <h1 class='PackageAmount'>VIP ticket</h1>
            <p class='PackageCost'>$<%= (@current_user.blank?) ? '30.00' : '27.00' %></p>
            <div class='PackageLimited'></div>
            <p class='PackageLimitedLabel'><%= (@vip_count < 9) ? 'Limited' : 'Sold out' %></p>
          </button>
        </li>
        <% if @current_user.blank? %>
          <p class='PackageLoginDiscount'><a class='PackageAction ActionLogin' id='signupWithFacebookPrompt' data-toggle='modal' data-target='#signupModal' href=''>Signup with Facebook to get 10% off</a> all ticket packages.</p>
        <% end %>
        <p class='TicketAccess'><strong>VIP access:</strong> Get to meet-and-greet Dylan before the show and get backstage access during the soundcheck.</p>
        <p class='TicketAccess'>No hidden charges or service fees. Once the transaction goes through, your tickets will immediately be available online and by email.</p>
      </ol>
    </div>
  </div>

  <div class='EventPlacePeople'>
    <div class='EventLocation'>
      <div class='EventCardHeader EventLocationHeader'>
        <div class='EventPlace'>
          <a href='http://www.thegatesithaca.com' target='_blank'>
            <h1 class='EventLocationName'>The Gates</h1>
            <p class='EventLocationAddress'>422 Eddy Street &bull; Ithaca, NY 14850</p>
          </a>
        </div>
        <div class='EventAge'>
          <p class='Event18'>18+</p>
        </div>
      </div>
    </div>

    <div class='EventFunding'>
      <div class='EventCardHeader EventFundingStatus'>
        <p class='FundingStatus FundingDone'><strong>Successfully crowdfunded</strong><br />on Nov. 20<sup>th</sup><!--  by <%= 'you and' if @is_backer %> <%= (@is_backer) ? '38 other' : '39' %> people --></p>
        <div class='EventFundingBar'>
          <div class='EventFundingProgress progress-bar-success' style='width:100%;'></div>
          <p class='EventFundingPercent'><%= @percent_funded %>% funded</p>
        </div>
      </div>
    </div>

    <div class='panel panel-default EventAttendees'>
      <!-- <div class='FriendsAttending'> -->
      <% if !@facebook_friends_attending.blank? %> 
        <div class='panel-heading'>
          <h2>Friends attending</h2>
        </div>
        <div class='panel-body'>
          <% @facebook_friends_attending.each do |u| %>
            <%= render 'shared/facebook_profile_card', user: u %>
          <% end %>
        </div>
      <% end %>
      <div class='panel-heading'>
        <% if !@facebook_friends_attending.blank? %>
          <h2>Other people going</h2>
        <% else %>
          <h2>People going</h2>
        <% end %>
      </div>
      <div class='panel-body'>
        <% @non_facebook_friends_attending.each do |u| %>
          <%= render 'shared/facebook_profile_card', user: u %>
        <% end %>
      </div>
    </div>
    <a data-toggle='modal' data-target='#whatIsModal'><button class='btn' id='whatIsModalTrigger'>What is Tunetap?</button></a>
  </div>
</div>
<div class="modal" id='signupModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id='facebookSignupDismiss'>&times;</button>
        <h4 class="modal-title">Tunetap Signup</h4>
      </div>
      <div class="modal-body">
        <div id='facebookSignup'>
          <span class='Icon FacebookButtonLogo'>&#xE801;</span>
          <button class='btn btn-large FacebookButton'>Signup with Facebook</button>
          <p class='Icon Spinner Hidden' id='facebookLoginSpinner'>&#59392;</p>
          <p class='FacebookDisclaimer'>Signup with Facebook to get 10% off all ticket packages.</p>
          <p class='FacebookDisclaimer'>We will never post to your Timeline or do anything on your behalf without your permission.</p>
          <p class='FacebookDisclaimer'>If you have any problems, email us: <a href='mailto:thetap@tunetap.com'>thetap@tunetap.com</a></p>
        </div>
        <div class='alert alert-success' id='signupSuccess'>You've created an account!</div>
        <div class='alert alert-danger' id='signupFail'>There was a problem. Try again or <a href='mailto:thetap@tunetapmusic.com'>contact us</a> for help. <span id='signupErrorSentence'></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id='cancelFacebookSignup'>Cancel</button>
        <!-- <button type='button' class='btn btn-default' id='skipSignupButton'>Skip</button> -->
        <!-- <button type="button" class="btn btn-primary" id='signupButton'>Signup</button> -->
      </div>
    </div>
  </div>
</div>
<div class='modal' id='paymentModal'>
  <div class='modal-dialog' id='paymentModalDialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type="button" id='dismissTicketDialog' class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id='paymentTitle'>Package purchase</h4>
      </div>
      <div class='modal-body'>
        <p id='packageDescription'></p>
        <form action="/transactions" method="POST" id="paymentForm">
          <span class="alert alert-danger PaymentErrors"></span>
          <div class='form-group' id='ticketQuantity'>
            <label>
              <span>Number of tickets</span>
              <input class='form-control' type='text' name='quantity' id='quantity' placeholder='Quantity' value='1' required='required' />
              <p id='ticketCostLabel'>Price: $<span id='ticketCost'><%= (@current_user.blank?) ? '12' : '11' %>.00</span></p>
            </label>
          </div>
          <hr />
          <div class='form-group' id='userEmail'>
            <label>
              <span>Email (We'll send your tickets to this email)</span>
              <input class='form-control' type='email' placeholder="<%= @current_user.blank? ? 'Email address' : '' %>" name='email' id='user_email' value="<%= @current_user.email if !@current_user.blank? %>" required='required' />
            </label>
          </div>
          <div class='form-group' id='userName'>
            <label>
              <span>Name</span>
            </label>
            <input class='form-control' type='text' placeholder="<%= @current_user.blank? ? 'First name' : '' %>" name='fname' id='user_fname' value='<%= @current_user.fname if !@current_user.blank? %>' required='required' />
            <input class='form-control' type='text' placeholder="<%= @current_user.blank? ? 'Last name' : '' %>" name='lname' id='user_lname' value='<%= @current_user.lname if !@current_user.blank? %>' required='required' />
          </div>
          <hr />
          <div class="form-group" id='cardNumberContainer'>
            <label>
              <span>Card Number</span>
              <input class='form-control' type="text" data-stripe="number" placeholder='Card number' id='cardNumber' required='required' />
            </label>
            <span class='CardImage' id='genericCardImage'><%= image_tag('credit.png', size:'33x20') %></span>
            <span class='CardImage' id='amexCardImage'><%= image_tag('amex.png', size:'33x20') %></span>
            <span class='CardImage' id='discoverCardImage'><%= image_tag('discover.png', size:'33x20') %></span>
            <span class='CardImage' id='masterCardImage'><%= image_tag('mastercard.png', size:'33x20') %></span>
            <span class='CardImage' id='visaCardImage'><%= image_tag('visa.png', size:'33x20') %></span>
          </div>
          <div class="form-group" id='cvcContainer'>
            <label>
              <span>CVC</span>
              <input class='form-control' type="text" data-stripe="cvc" placeholder='Security code' id='cvc' required='required' />
            </label>
          </div>
          <div class="form-group" id='cardExpContainer'>
            <label>
              <span>Expiration (MM/YYYY)</span>
            </label>
            <input class='form-control' type="text" size="2" data-stripe="exp-month" placeholder='Month' id='exp-month' required='required' />
            <span> / </span>
            <input class='form-control' type="text" size="4" data-stripe="exp-year" placeholder='Year' id='exp-year' required='required' />
          </div>
          <input type='hidden' name='selected_package' id='selectedPackageID' />

          <!-- TODO: Make singular or plural -->
          <button type="submit" class='btn btn-primary' id='submitPaymentButton'>Get my ticket</button>
          <p class='Icon Spinner' id='ticketPaymentSpinner'>&#59392;</p>
          <p id='poweredByStripe'>Payments powered by <a href='https://stripe.com' target='_blank'>Stripe</a></p>
          <p id='help'>Any issues? We're glad to help. Email us: <a href='mailto:thetap@tunetap.com'>thetap@tunetap.com</a></p>
        </form>
        <div class='alert alert-success' id='transactionSuccess'>Transaction successful. <a href='/my/tickets'>View your tickets here.</a></div>
        <div class='alert alert-danger' id='transactionFail'>There was a problem with your card information. Try again or <a href='mailto:thetap@tunetapmusic.com'>contact us</a> for help. <span id='paymentFailSentence'></span></div>
        <div class='alert alert-danger' id='transactionError'>There was a server error processing your transaction. Try again or <a href='mailto:thetap@tunetapmusic.com'>contact us</a> for help. <span id='paymentErrorSentence'></span></div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/what_is_modal' %>
<%= render 'shared/powered_by_tunetap', theme: 'Dark' %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('pk_live_9iIsoiLYSpexBG8eDsO7WYDk');
</script>