<% provide(:title, @venue.name) %>
<div class = 'VenueIntro'>
	<!-- <div class = 'back'><a href='/venues' target='_self'>BACK TO SEARCH</a></div>  -->
	<div class = "Block" id='venueInfo'>
		<p id='venueName'><%= @venue.name %></p1>
		<div id="venueLocation">
			<p id='venueAddress'>Sample Address Line, <%= @venue.city %>, <%= @venue.state %> 14607</p1>
			<p id='venueContact'>(800) 123-4567 sample@email.com</p1>
		</div>

		<div class='SocialLinks'>
		  <span class='SocialLink FacebookLink' id='bugFacebookLink'><a href='https://www.facebook.com/pages/Bug-Jar/55612263875' target='_blank'><span class='Icon'>&#xE801;</span> <span class='SocialCount'>3,700+</span></a></span>
		  <span class='SocialLink TwitterLink' id='bugTwitterLink'><a href='https://twitter.com/BugJarRochester' target='_blank'><span class='Icon'>&#xE803;</span> <span class='SocialCount'>1,000+</span></a></span>
		</div>

		<div class='Info'>
			<p>
				<h2>Capacity:</h2>
				<span class='InfoContent'><%= @venue.capacity %></span>
			</p>
			<p>
				<h2>Audience:</h2>
				<span class='InfoContent'>18+</span>
			</p>
			<p>
				<h2>Cost:</h2>
				<span class='InfoContent'>$$</span>
			</p>
			<p>
				<h2>Equipment:</h2>
				<span class='InfoContent'>Stage and speakers</span>
			</p>
		</div>

		<div class='Setup'>
			<button class='btn btn-primary' data-toggle='modal' data-target='#createEventModal'>Setup Event</button>
		</div>
	</div>
	<div id='calendarContainer'>
	 	<div class='AbsoluteCenter' id="eventsCalendar"></div> 
	</div>
	<div class = "pep" id = "peventsPage"></div> 
</div>



<%= render 'layouts/setup_event' %>
<%= render 'shared/powered_by_tunetap' %>
