<div id="fb-root"></div>


<div class='ArtistSignup' id='artistSignup'>
  <div id="formError" class="alert alert-danger Hidden">
    <% if @artist and @artist.errors.any? %>
    The form contains <%= pluralize(@user.errors.count, "error") %>.
    <ul>
      <% @artist.nice_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>


  <div id="formSuccess" class="alert alert-success Hidden">
    <% if not @success.blank? and @success %>
    Success! We've added you to our beta users list!
    <% end %>
  </div>


  
  <%= form_for(@artist, url: artists_path(@artist), html: { id: 'artistSignupForm' }) do |f| %>
  
  <%= f.text_field :artist_name, placeholder: "Artist name", class: "form-control" %>
  <%= f.email_field :email, placeholder: "Artist email", class: "form-control" %>
  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

  <% end %>

  <%= button_tag "Get started", class: "btn btn-large btn-primary", id: "signupButton" %>
  <br />

</div>

